<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.java_bus.mapper.MemberMapper">

    <select id="MemberCount" resultType="int">
        SELECT count(membernumber) AS cnt FROM tbl_login;
    </select>

    <select id="IdCheck" resultType="int" parameterType="com.example.java_bus.domain.Member">
        SELECT
            *
        FROM tbl_login where id=#{id};
    </select>

    <select id="LoginCheck" resultType="int" parameterType="com.example.java_bus.domain.Member">
        SELECT
            *
        FROM tbl_login where id=#{id} AND password=#{password};
    </select>

    <insert id="AddMember" parameterType="com.example.java_bus.domain.Member">
        INSERT INTO tbl_login (id, password)
        VALUES
            (#{id}, #{password});
    </insert>

</mapper>