<html xmlns xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Title</title>
</head>
<meta charset="UTF-8">
<title>버스 정류장 조회</title>
<script src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=t8y7kns73m"></script>
</head>
<body>
<div class="container">
    <form th:action="@{bus/mapviewstations}" method="get">
    <button id="stationBtn" class="btn btn-secondary btn-sm float-left">모든 정류장 지도 표시</button>
    </form>
    <div id="map" style="width:100%;height:400px;">
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var locations = new Array();
        var markers = new Array();
        var infoWindows = new Array();
        var polylinePaths = new Array();

        var list = [[${busstationlist}]];

        let map = new naver.maps.Map('map', {
            center: new naver.maps.LatLng([[${busstationscenter.y}]], [[${busstationscenter.x}]]),
            zoom: 12
        });

        for (var j = 0; j < list.length; j++) {
            locations.push({location: list[j].StStationNm, lat: list[j].posY, lng: list[j].posX});
        }

        for (var i = 0; i < locations.length; i++) {
            var marker = new naver.maps.Marker({
                map: map,
                title: locations[i].place,
                position: new naver.maps.LatLng(locations[i].lat, locations[i].lng)
            });

            var infoWindow = new naver.maps.InfoWindow({
                content: '<div style="width:150px;text-align:center;padding:5px;"><b>' + '</b><br></div>'
            }); // 클릭했을 때 띄워줄 정보 HTML 작성

            var polyPath = new naver.maps.LatLng(locations[i].lat, locations[i].lng);

            markers.push(marker); // 생성한 마커를 배열에 담는다.
            infoWindows.push(infoWindow); // 생성한 정보창을 배열에 담는다.
            polylinePaths.push(polyPath);
        }


        function getClickHandler(seq) {

            return function(e) {  // 마커를 클릭하는 부분
                var marker = markers[seq], // 클릭한 마커의 시퀀스로 찾는다.
                    infoWindow = infoWindows[seq]; // 클릭한 마커의 시퀀스로 찾는다

                if (infoWindow.getMap()) {
                    infoWindow.close();
                } else {
                    infoWindow.open(map, marker); // 표출
                }
            }
        }

        var polyline = new naver.maps.Polyline({
            map: map,
            path: polylinePaths,
            strokeColor: '#E51D1A',
            strokeStyle: 'solid',
            strokeOpacity: 1,
            strokeWeight: 5
        });


        for (var i=0, ii=markers.length; i<ii; i++) {
            console.log(markers[i] , getClickHandler(i));
            naver.maps.Event.addListener(markers[i], 'click', getClickHandler(i)); // 클릭한 마커 핸들러
            naver.maps.Event.addListener(markers[i], 'mouseover', getClickHandler(i));
        }
        /*]]>*/
    </script>
    <table id="busstationboard" class="table table-hover">
        <thead>
        <tr>
            <th>버스 ID</th>
            <th>버스 번호</th>
            <th>정류장 번호</th>
            <th>정류장 이름</th>
            <th>도착 정보</th>
            <th>도착 버스번호</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="busstationlist :${busstationlist}">
            <td>[[${busstationlist.busRouteId}]]</td>
            <td>[[${busstationlist.busRouteNm}]]</td>
            <td>[[${busstationlist.number}]]</td>
            <td>[[${busstationlist.StStationNm}]]</td>
            <td>[[${busstationlist.arrmsg}]]<br>
                [[${busstationlist.arrmsg2}]]</td>
            <td>[[${busstationlist.plainNo1}]]<br>
                [[${busstationlist.plainNo2}]]</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>